{% load static%}

<li>
    <article class="post">
        <a href="{% url "post-detail-page" "the-mountains"%}">
            <img src="{% static "blog/images/mountains.jpg" %}" alt="Comentario de la Imagen">
            <div class="post__content">
                <h3>Title Title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
        </a>
    </article>
</li>